@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-Book20.woff2') format('woff2'),
    url('/fonts/SharpGrotesk-Book20.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-Light20.woff2') format('woff2'),
    url('/fonts/SharpGrotesk-Light20.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-Medium20.woff2') format('woff2'),
    url('/fonts/SharpGrotesk-Medium20.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-SemiBold25.woff2') format('woff2'),
    url('/fonts/SharpGrotesk-SemiBold25.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-Light25.woff2') format('woff2'),
    url('/fonts/SharpGrotesk-Light25.woff') format('woff');
  font-weight: 300;
  font-style: expanded;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-Book25.woff2') format('woff2'),
    url('/fonts/SharpGrotesk-Book25.woff') format('woff');
  font-weight: normal;
  font-style: expanded;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-Medium25.woff2') format('woff2'),
    url('/fonts/SharpGrotesk-Medium25.woff') format('woff');
  font-weight: 500;
  font-style: expanded;
  font-display: swap;
}
